/* ==================================================
   変数
================================================== */
:root {
    --main-orange: rgb(228, 148, 61);
    --menu-dark: #333;
    --z-back: 0;
    --z-button: 10;
    --z-koisi: 10;
    --z-maintextarea: 20;
    --z-pagebar: 30;
    --z-speech-bubble: 30;
    --z-now-time: 40;
    --z-menu: 50;
    --z-toggle-button: 10000;
}


/* ==================================================
   全体
================================================== */
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* ==================================================
   背景
================================================== */
#back {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: var(--z-back);
}


/* ==================================================
   キャラ
================================================== */
#koisi {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 55vh;
    z-index: var(--z-koisi);
}


/* ==================================================
   メインテキスト
================================================== */
#maintextarea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35vh;
    padding: 10px;
    font-size: 18px;
    background-color: var(--main-orange);
    border: none;
    resize: none;
    z-index: var(--z-maintextarea);
}

#maintextarea:focus {
    height: 70vh;
    background-color: rgba(228, 148, 61, 0.9);
}


/* ==================================================
   ページバー
================================================== */
#pagebar {
    position: fixed;
    top: 32%;
    left: 0;
    width: 99%;
    height: 15px;
    border: 1px solid #282424;
    background: linear-gradient(
        90deg,
        #dc5fd7 0%,
        #dc5fd7 25%,
        #3fd304 25%,
        #3fd304 75%,
        #dc5fd7 75%,
        #dc5fd7 100%
    );
    appearance: none;
    z-index: var(--z-pagebar);
}

#pagebar::-webkit-slider-thumb,
#pagebar::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #2ed91d;
    cursor: pointer;
}


/* ==================================================
   吹き出し
================================================== */
.koisiarrow_box {
    position: absolute;
    top: 35%;
    width: 91%;
    height: 27px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #F6FFFE;
    background-color: #83FF39;
    border: 5px solid #E6FF82;
    border-radius: 36px;
    z-index: var(--z-speech-bubble);
}

.koisiarrow_box::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    border: 20px solid transparent;
    border-top-color: #83FF39;
}

.koisiarrow_box::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    border: 26px solid transparent;
    border-top-color: #E6FF82;
    margin-top: 5px;
}


/* ==================================================
   現在時刻
================================================== */
#now_time {
    position: fixed;
    bottom: -2.5%;
    right: 0;
    font-size: 25px;
    background-color: rgb(26, 175, 138);
    border: 2px solid black;
    z-index: var(--z-now-time);
}


/* ==================================================
   ボタン
================================================== */
.menu-toggle-btn {
    position: fixed;
    bottom: 30px;
    padding: 10px;
    color: white;
    background-color: var(--menu-dark);
    border: none;
    cursor: pointer;
    z-index: var(--z-toggle-button);
}

.menu-toggle-btn:hover {
    background-color: #444;
}

#toggleMenuBtn {
    right: 0;
}

#toggleinfoMenuBtn {
    left: 0;
}


/* ==================================================
   メニュー
================================================== */
#menu,
#infomenu {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: var(--menu-dark);
    color: white;
    transition: 0.3s;
    z-index: var(--z-menu);
}

/* 右 */
#menu {
    right: -300px;
}

#menu.open {
    right: 0;
}

/* 左 */
#infomenu {
    left: -300px;
}

#infomenu.open {
    left: 0;
}


/* ==================================================
   リンク
================================================== */
#linker {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    color: white;
    background-color: #0dbf95;
    text-decoration: none;
    border-radius: 4px;
}

#linker:hover {
    background-color: #0aa07c;
}